<a href="https://colab.research.google.com/github/Shumei-Wen/python/blob/main/1_Python_%E7%9A%84%E8%B3%87%E6%96%99%E5%9E%8B%E5%88%A5%E8%88%87%E7%B5%90%E6%A7%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 的資料型別與結構

## 基本資料型別
* int(數值)：整數數值，例如409。
* float(浮點數)：帶有小數點的數字，例如：3.14。
* str(字串)：用單引號或雙引號括起來的文字，例如："LM409"、'3.14'。
* bool(布林值)：True 和 False

### 常用語法
* 型別類型：type()
* 跟型別運算：3*5、"3"*5、"3"/5、"3"+5、"3"-5，分別的結果是?
* 型別轉換：int()、float()、str()

In [1]:
int("3"+str(5))+5

40

In [2]:
"3"-5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [3]:
3*"5"

'555'

In [4]:
"3"/5

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## 資料結構

#### 1.tuple(數組)
- tuple使用( )表示，不同的值用逗號分隔。
- 常用語法：
```
變數名稱=(值1, 值2, ...)       ##建立一個新的tuple
變數名稱=()                    ##建立一個空白的tuple
tuple變數名稱 += (值1, 值2, ...)   ##新增tuple的元素(只能往後增加，不能修改其他元素及位置)
```

In [5]:
list1_1=[1,2,3]
print(type(list1_1))
list1_2=list()
print(type(list1_2))

<class 'list'>
<class 'list'>

In [6]:
tuple1=(1,2,3,"a")
print("tuple1=",tuple1)

tuple2=()
print("tuple2=",tuple2)

tuple3=(tuple1,tuple2)
print(tuple3)

tuple1+=(7,8)
print("tuple1=\n",tuple1,"\n",tuple2)

tuple1= (1, 2, 3, 'a')
tuple2= ()
((1, 2, 3, 'a'), ())
tuple1=
 (1, 2, 3, 'a', 7, 8)
 ()

In [7]:
tuple4=tuple1+("10",11)
print(tuple4)

(1, 2, 3, 'a', 7, 8, '10', 11)

#### 2.set(集合)
- set用{ }表示，不同的值用逗號分隔。
- set的內容元素都必須是獨一無二的。
- set的空集合設定方式不是用{}表示，因為這個符號用法會被套用在dict字典結構。
- 常用語法：
```
變數名稱={值1, 值2, ...}       ##建立一個新的set
變數名稱=set()                 ##建立一個空set
set變數名稱.add(值)            ##新增一個值到set內
set變數名稱.remove(值)         ##將一個值從set內刪除
len(set變數名稱)、sum(set變數名稱)、max(set變數名稱)、min(set變數名稱)     ##計算set的長度、總和、最大值及最小值
setA.union(setB)              ##setA與setB的聯集 A∪B    (也可以setA | setB)
setA.intersection(setB)       ##setA與setB的交集 A∩B    (也可以setA & setB)
setA.difference(setB)         ##setA去除與setB共有的部份 A-B    (也可以setA - setB)
setA.symmetric_difference(setB)       ##去除setA與setB的交集 (A∩B)'     (也可以setA ^ setB)
```

In [8]:
set1={1,2,5,"a"}
print("set1=",set1)
set2={1,2,2,3}
print("set2=",set2)
set3=set()
print("set3=",set3)
set2.add(4)
set1.remove("a")
print(len(set2))
print(sum(set1))

set1= {1, 2, 'a', 5}
set2= {1, 2, 3}
set3= set()
4
8

In [9]:
set4=set()
print(type(set4))

<class 'set'>

In [10]:
print(set1)
print(set2)
print(set1.intersection(set2))

{1, 2, 5}
{1, 2, 3, 4}
{1, 2}

#### 3.list(串列)
- List用中括號[ ]表示，不同的值用逗號分隔。
- 常用語法：
```
變數名稱=[值1, 值2, ...]       ##建立一個新的list，list內的
變數名稱=[]                    ##建立一個空list
list變數名稱[index]            ##以索引自list取值，python的容器索引從0開始，取最後一個值的索引值可以用-1。
list變數名稱[start:end:range]  ##自list取出一群index有規律的值。start預設為0，end預設為總個數+1(不含end)，range預設為1
list變數名稱.append(值)        ##新增list一個元素   
list變數名稱 += [值1, 值2, ...]##新增多個元素
list變數名稱.remove(值)        ##刪除list某個特定元素
del list[index]               ##刪除多個元素。
```

In [11]:
list1=[1,2]
list2=[3,4]
list1=list1+list2
print(list1)

[1, 2, 3, 4]

In [12]:
list1=[1,2,3,4]
print("list1=",list1)
list2=[]
print("list2=",list2)
list3=["B",5,8,["A",1,5]]
print("list3=",list3)
list4=[list1,tuple1]
print("list4=",list4)

list1= [1, 2, 3, 4]
list2= []
list3= ['B', 5, 8, ['A', 1, 5]]
list4= [[1, 2, 3, 4], (1, 2, 3, 'a', 7, 8)]

In [13]:
print(list1[3])
print(list3[-1])
print(list3[-1][0])
list5=[1,2,3,4,5,6,7,8,9,10]
print(list5[0:5:2])
list1.append(["B",1,8])
print("list1_新增元素=",list1)
list1+=["a","5",1]
print("list1_新增元素=",list1)

4
['A', 1, 5]
A
[1, 3, 5]
list1_新增元素= [1, 2, 3, 4, ['B', 1, 8]]
list1_新增元素= [1, 2, 3, 4, ['B', 1, 8], 'a', '5', 1]

In [14]:
list3[-2]

8

In [15]:
list3=["B",5,8,["A",1,5]]
print(list3[3][0])

A

In [16]:
list6=list1.copy()
print(list6)
list6.remove(1)
print("list6_刪除元素(remove)=",list6)
print("list1=",list1)

[1, 2, 3, 4, ['B', 1, 8], 'a', '5', 1]
list6_刪除元素(remove)= [2, 3, 4, ['B', 1, 8], 'a', '5', 1]
list1= [1, 2, 3, 4, ['B', 1, 8], 'a', '5', 1]

In [17]:
list7=list1
del list7[1:5]
print("list7_刪除元素(del)=",list7)
print("list1=",list1)

list7_刪除元素(del)= [1, 'a', '5', 1]
list1= [1, 'a', '5', 1]

#### 4.dict(字典)
- key-value的型式。
- 常用語法
```
變數名稱={key1:value1, key2:value2, ...}   ##建立新的dict
dict變數名稱[key]                          ##取出key對應的value(key前後要加引號)
dict變數名稱[NEW key]=新值                 ##新增一組key-value
dict變數名稱.update({key1:value1, key2:value2, ...})   ##新增多組key-value
del dict變數名稱[key]  或  dict變數名稱.pop(key)             ##一次刪除一組key-value
```

In [18]:
dict1={"瑞士":"伯恩","日本":"東京","美國":"華盛頓特區"}
print("dict1=",dict1)
print(dict1["日本"])
dict1["越南"]="河內"
dict1.update({"英國":"倫敦","法國":"巴黎"})
print("dict1(新增)=",dict1)
del dict1["日本"]
dict1.pop("越南")
print("dict1(刪除)=",dict1)

dict1= {'瑞士': '伯恩', '日本': '東京', '美國': '華盛頓特區'}
東京
dict1(新增)= {'瑞士': '伯恩', '日本': '東京', '美國': '華盛頓特區', '越南': '河內', '英國': '倫敦', '法國': '巴黎'}
dict1(刪除)= {'瑞士': '伯恩', '美國': '華盛頓特區', '英國': '倫敦', '法國': '巴黎'}

# 條件判斷式
## 比較運算符
* ==       等於
* !=       不等於
* ```>```        大於
* <        小於
* ```>=```       大於等於
* <=       小於等於
## if 敘述句
```
if 條件判斷式:
    程式區塊
```
## if...else...敘述句
```
if 條件判斷式:
    程式區塊
else:
    程式區塊
```
## if...elif...else...敘述句
```
if 條件判斷式1:
    程式區塊
elif 條件判斷式2:
    程式區塊
elif 條件判斷式3:
    程式區塊
else:
    程式區塊
```

In [19]:
num1=int(input("請輸入0~100的數字:"))
if num1>=60:
    print("及格")

請輸入0~100的數字:78
及格

In [21]:
print("請輸入0~100的數字:")
num1=int(input())
if num1>=60:
    print("及格")
else:
    print("不及格")

請輸入0~100的數字:
46
不及格

In [22]:
print("請輸入0~100的數字:")
num1=int(input())
if num1>=90:
    print("很棒")
elif num1>=60:
    print("及格")
elif num1<50:
    print("太差了，請加油")
else:
    print("不及格")

請輸入0~100的數字:
21
太差了，請加油

# 迴圈

## for 迴圈

   #### 1.基本for迴圈
   ```
   for 變數 in 容器:
      程式區塊
   ```

In [23]:
animal_list=["dog","cat","monkey","bird","elephant"]
for animal in animal_list:
    print(animal)

dog
cat
monkey
bird
elephant

   #### 2.搭配二維list
   ```
   for 變數 in 二維list:
      程式區塊
   ```

In [24]:
fruits=[["apple","red"],["banana","yellow"],["lemon","green"]]
for fruit in fruits:      ## 第一層for迴圈
    for item in fruit:    ## 第二層for迴圈
        print(item)

apple
red
banana
yellow
lemon
green

   #### 3.搭配range
   ```
   for 索引 in range(N):   ##N代表list的長度
      程式區塊
      
   ```

In [25]:
for i in range(2,len(animal_list)):
    print ("item", i, "=", animal_list[i])
    #print(i)

item 2 = monkey
item 3 = bird
item 4 = elephant

## while 迴圈

   #### 1.基本while迴圈
   ```
   while 條件判斷式:
      程式區塊
   ```

In [26]:
len(animal_list)

5

In [27]:
n = 0
while n < 5:
    print(n)
    n+=1

0
1
2
3
4

   #### 2.使用break
   - 脫離while迴圈
   ```
   while 條件判斷式:
      程式區塊
      if 條件判斷式:
         break
   ```

In [28]:
n=0
while True:
    print(n)
    n+=1
    if n>= 5:
        break

0
1
2
3
4

   #### 3.使用continue
   - 跳過後面的程式區，回到下一圈的while 判斷式
   ```
   while 條件判斷式:
      程式區塊
      if 條件判斷式:
         continue
         
      要跳過的程式區塊
   ```

In [29]:
n=1
while n<10:
    n+=1
    if n % 3 == 0:
        continue
    print(n)

2
4
5
7
8
10

# 其他常用函式

#### 取得list或字串等容器長度：len()

#### 排序：sorted()與list名稱.sort()

 1. sorted()：不會改變原本的list，只會回傳由小到大排序後的結果(新增另一個list)
 2. list名稱.sort()會影響原本的list內容(將排序後的結果存於原本的list內，永久改變原list的內容。)

In [30]:
list6=[1,3,5,6,2,8,4,7,3]
print(len(list6))

9

In [31]:
print("sorted：",sorted(list6))
print(list6)

sorted： [1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 6, 2, 8, 4, 7, 3]

In [32]:
list6.sort()
print("list.sort()：", list6)

list.sort()： [1, 2, 3, 3, 4, 5, 6, 7, 8]

#### 反轉容器：reversed()與list名稱.reverse()
 1. reversed()不會改變原本的list，只會回傳反轉後的結果(新增另一個list)
 2. list名稱.reverse()會影響原本的list內容(將反轉後的結果存於原本的list內，永久改變原list的內容。)

In [33]:
print("reversed()：", list(reversed(list6)))
print(list6)
list6.reverse()
print("list.reverse()：",list6)

reversed()： [8, 7, 6, 5, 4, 3, 3, 2, 1]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
list.reverse()： [8, 7, 6, 5, 4, 3, 3, 2, 1]

In [34]:
list10=list(reversed(list6))
print(list6)
print(list10)

[8, 7, 6, 5, 4, 3, 3, 2, 1]
[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [35]:
print(reversed(list6))

<list_reverseiterator object at 0x7c673169e410>

#### 計數及檢索位置
- 統計某特定值出現的次數：變數名稱.count()
- 尋找某特定值的最早出現索引位置：變數名稱.index()

In [36]:
n=3
print("count()：",list6.count(n))
print(list6)
print("index()：",list6.index(n))

count()： 2
[8, 7, 6, 5, 4, 3, 3, 2, 1]
index()： 5

In [37]:
text="Python_Jupyter notebook"
print(len(text))

n="o"
print("count()：",text.count(n))
print("index()：",text.index("J"))

23
count()： 4
index()： 7

#### 字串格式化：format()與f-string
 1. format()
 ```
 '{}文字 {}文字{}...'.format(值1, 值2, 值3, ...)
 ```
 2. f-string
 ```
 f'{值1} 文字 {值2} 文字...'
 ```

In [38]:
fruits=[["apple",6],["banana",2],["orange",3]]
for name,num in fruits:
    print('{} 有 {} 個 '.format(name,num))

apple 有 6 個
banana 有 2 個
orange 有 3 個

In [39]:
for name,num in fruits:
    print(f'{name} 有 {num} 個')

apple 有 6 個
banana 有 2 個
orange 有 3 個

#### 分割字串成list元素：
 1. 字串.split(分割字元, 分割次數)，其中分割字元若沒指定，則預設為空格；分割次數若不指定，為分割整個字串。
 2. 用re模組內的re.split(), 可以處理多種分割字元的字串分割。
 ```
 import re
 list變數=re.split('[分割符號]',字串)   ##多個分割符號不用隔開
 ```

In [40]:
text.split()

['Python_Jupyter', 'notebook']

In [41]:
text.split("o")

['Pyth', 'n_Jupyter n', 'teb', '', 'k']

In [42]:
import re
text1=re.split('[_ ]',text)
print(text1)

['Python', 'Jupyter', 'notebook']